<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718259942233-0o792s4uumgml44f2h8iel5rumf7hl0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718259942233-0o792s4uumgml44f2h8iel5rumf7hl0c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>718259942233-d23shge19as656uf38ptlk4hqvlr6094.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVrkud1bxRqIxySktbJtF6XeL9sPIIQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>718259942233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.intelliv</string>
	<key>PROJECT_ID</key>
	<string>fbaseintelliv</string>
	<key>STORAGE_BUCKET</key>
	<string>fbaseintelliv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718259942233:ios:04efc6b0c0afed30d81248</string>
</dict>
</plist>