<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841515956738-dr4jk93i284r8io2bkgc0ci36o7spinu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841515956738-dr4jk93i284r8io2bkgc0ci36o7spinu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841515956738-kaltf85j59sf3nhgu2ldek17pbpe7t7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj428JHoUwcueY3OvFVi-xsshU0Rl1XlA</string>
	<key>GCM_SENDER_ID</key>
	<string>841515956738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.intelliv</string>
	<key>PROJECT_ID</key>
	<string>intellivfbase-67be6</string>
	<key>STORAGE_BUCKET</key>
	<string>intellivfbase-67be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841515956738:ios:75068d8e5b9a729cf5851b</string>
</dict>
</plist>